@font-face {
    font-family: Codec;
    src: url('../../styles/fonts/Codec\ Cold\ Trial\ Bold\ 700.ttf');
  }

 .footer{
      background: transparent;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-basis: auto;
      width: 100%;
      font-family: Codec, sans-serif;

  }
  .footer a{
      font-size: 12px;
      background: transparent;
      font-family: Codec, sans-serif;
      margin-right: 900px;
      color: white;
      text-decoration: none;
  }

  